<% @title = "De CTB vatten" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="cada"><%= @title %> <a href="#cada">#</a></h1>
  <p>Indien u niet tevreden bent over een antwoord van een openbaar bestuur of indien deze laatste niet heeft geantwoord binnen de wettelijke termijn van 30 dagen kan u een advies vragen aan de Commissie voor Toegang tot Bestuursdocumenten (CTB).</p>

  <p>Deze mogelijkheid bestaat enkel voor de betrokken overheidsdiensten die vallen onder de wetgeving van openbaarheid van bestuur.</p>

  <p>Opgelet, de vraag om advies aan de CTB moet <b>VERPLICHT</b> worden ingediend op dezelfde dag als uw vraag om heroverweging van uw verzoek om informatie bij het betrokken openbaar bestuur.</p>

  <p><%= site_name %> is nog niet voorzien op vragen om advies aan de CTB. Deze vragen moeten dus rechtstreeks per mail of met de post aan de CTB worden gezonden. Wel kan u uw verzoek om heroverweging naar het betrokken openbaar bestuur via Transparencia verzenden. Klik hiervoor op ‘vraag een verzoek om heroverweging’ onderaan de pagina met uw verzoek om informatie.</p>

  <p>Nadien, op dezelfde dag, moet u aan de CTB een link naar uw verzoek op Transparencia zenden (of deze uitprinten en verzenden) zodat de CTB toegang heeft tot al uw vragen aan het betrokken openbaar bestuur en zich ervan kan vergewissen dat u een verzoek om heroverweging heeft ingediend.</p>

  <p>Tenslotte houdt u ons op de hoogte van uw vraag om advies aan de CTB door middel van commentaren te leveren onderaan uw vraag op de website.</p>

  <p>Indien uw verzoek interessant is voor andere personen (en we de tijd hebben) dan kunnen we u adviseren om u vraag om advies aan de CTB te verbeteren. Contacteer ons per mail via <a href="mailto:<%=@contact_email%>"><%=@contact_email%></a>.</p>

  <p>Hieronder vindt u de links naar de verschillende Commissies voor toegang tot bestuursdocumenten:</p>

  <p>Federaal: <a href="http://www.ibz.rrn.fgov.be/nl/commissies/openbaarheid-van-bestuur/">http://www.ibz.rrn.fgov.be/nl/commissies/openbaarheid-van-bestuur/</a></p>

  <p>Vlaanderen: <a href="http://www.vlaanderen.be/nl/vlaamse-overheid/werking-van-de-vlaamse-overheid/openbaarheid-van-bestuur">http://www.vlaanderen.be/nl/vlaamse-overheid/werking-van-de-vlaamse-overheid/openbaarheid-van-bestuur</a></p>

  <p>Brussels Gewest: <a href="http://be.brussels/over-het-gewest/ministerie-van-het-brussels-hoofdstedelijk-gewest/secretariaat-generaal/human-resources-management/directie-ambtenarenzaken/commissie-voor-toegang-tot-bestuursdocumenten-ctb?set_language=nl">http://be.brussels/over-het-gewest/ministerie-van-het-brussels-hoofdstedelijk-gewest/secretariaat-generaal/human-resources-management/directie-ambtenarenzaken/commissie-voor-toegang-tot-bestuursdocumenten-ctb?set_language=nl</a></p>

  <p>Waals gewest en de Franstalige gemeenschap: <a href="http://www.cada-wb.be/">http://www.cada-wb.be/</a></p>

  <p>Verder: meer weten over <a href="<%= help_privacy_path %>">uw privacy</a> --&gt;</p>

  <div id="hash_link_padding"></div>
</div>
