
<% @title = "Conditions d’utilisation" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="conditions"><%= @title %> <a href="#conditions">#</a></h1>

<p><%= site_name %> est une plateforme technique d’envoi de messages des demandeurs vers les autorités publiques et un hébergeur des réponses des autorités publiques.</p>

<p>L'accès et l’utilisation de ce site est gratuit mais sa simple utilisation et/ou consultation implique, de façon automatique et inconditionnelle, votre pleine et entière acceptation de l'ensemble des conditions générales d'utilisation reprises ci-dessous.</p>

<p>Le plus grand soin a été apporté à la création du site et à son contenu. Nous ne pouvons toutefois garantir l'exactitude, l'exhaustivité ou la mise à jour des données et des informations qui sont présentées et nous déclinons toute responsabilité quant au contenu du site ainsi qu'aux éventuelles erreurs, inexactitudes ou omissions affectant les données et informations diffusées.</p>

<p>Sous réserve des dispositions légales et réglementaires applicables, nous ne saurions être tenus pour responsables des dommages, directs ou indirects, pouvant résulter de l'utilisation et/ou de la consultation du site, et plus généralement, de tout événement ayant un lien avec le site.</p>

<p>En particulier, notre responsabilité ne saurait être engagée en cas de piratage total ou partiel du site et des conséquences que ce piratage pourrait entraîner.</p>

<p>Nous nous réservons le droit de modifier, d'interrompre temporairement ou de manière permanente, tout ou partie du site, et ce sans aucun préavis.</p>

<p>Les messages envoyés par les demandeurs et les réponses reçues par les autorités publiques sont automatiquement publiés, en libre accès, sur le site et sont donc accessibles sur Internet. Les messages ne sont ni lus, ni édités, ni vérifiés par <%= site_name %> avant publication. En conséquence <%= site_name %> ne pourra pas être tenu responsable du contenu des messages envoyés par les demandeurs et/ou des réponses reçues par les autorités publiques.</p>

<p>Nous ferons toutefois le nécessaire pour supprimer rapidement toute demande d’un demandeur, réponse d’une autorité publique ou commentaire d’un utilisateur qui nous serait signalé comme non conforme à la législation. Veuillez nous contacter via <a href="mailto:<%=@contact_email%>"><%=@contact_email%></a> en nous donnant toutes les informations utiles pour identifier le contenu que vous souhaitez nous signaler.</p>

<p>Pour effectuer une demande à une autorité publique, les utilisateurs doivent s’identifier avec leur identité réelle. L’utilisation d’un pseudonyme ou de l’identité d’un tier est interdit.</p>

<p><i>Obligations des visiteurs :</i></p>

<p>
Les utilisateurs s’engagent à dédommager <%= site_name %> contre toute réclamation d'un tiers, responsabilité, perte et frais (y compris dommages-intérêts et frais d'avocat) résultant d’une utilisation non conforme du site. Les utilisations conformes sont décrites dans ces Conditions d’utilisation et dans les pages d’Aide du site.
</p>

<p><em>Propriété intellectuelle :</em></p>

<p>Les contenus présents dans ce site sont protégés par le droit d'auteur et/ou le droit des bases de données. Sous réserve des dispositions légales et réglementaires applicables, la reproduction, la diffusion ou la commercialisation, sur tout support, d'un élément constitutif du site, sans l'autorisation écrite préalable de l'éditeur du site est interdite et constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur</p>

<p><em>Hyperliens :</em></p>

<p>La présence d'un lien vers un site externe ne constitue pas une reconnaissance de sa conformité avec la législation en vigueur et/ou de la qualité des services et des produits fournis par l’organisme responsable du site. Nous ne saurions être tenus responsables des dommages pouvant résulter de sa consultation.</p>

<p><em>Politique de modération des commentaires :</em></p>

<p>Les commentaires sont publiés automatiquement. Ils peuvent faire l'objet d'une modération à posteriori. Le choix de supprimer et/ou d'éditer un commentaire est laissé à l'entière appréciation de l'éditeur du site sans que celui-ci n'ait à justifier son choix. Les commentaires n'impliquent aucune approbation de l'éditeur du site quant à leur contenu. En publiant un commentaire vous assurez la responsabilité juridique de son contenu. Vous acceptez également d'indemniser et de garantir l'éditeur du site contre toute réclamation, action en responsabilité, perte et frais (y compris les dommages-intérêts, les frais de transaction et, dans la limite du raisonnable, les frais de justice) pouvant être engagés contre ou subis par l'éditeur du site, et qui concernerait, résulterait ou pourrait résulter de votre commentaire.</p>

<p>Si vous rencontrez un commentaire inapproprié merci de nous avertir via <a href="mailto:<%=@contact_email%>"><%=@contact_email%></a></p>

<p><em>Droit de rectification :</em></p>

<p>Conformément aux dispositions légales toutes les personnes peuvent faire rectifier, sans frais, les données qui les concernent et qui s'avéreraient inexactes, incorrectes ou incomplètes. Contactez-nous via <a href="mailto:<%=@contact_email%>"><%=@contact_email%></a> afin d'être informé de la procédure de rectification.</p>

<p>Responsable du traitement des données : Christophe Van Gheluwe - Place Van Meenen 3 bte 6 - 1060 Bruxelles - 0497 18 30 87.</p>

<p><em>Dispositions diverses :</em></p>

<p>Les informations que vous nous communiquez sur base volontaire (nom, prénom, email,...) par exemple via l'utilisation d'un formulaire de contact ou autre peuvent être encodées dans des fichiers de base de données. Ces informations serviront à l'usage exclusif de l'éditeur du site. Elles ne seront pas transmises à des tiers. La seule exception à ce principe réside dans les demandes de communication de ces informations à l'initiative des autorités habilitées à les formuler.</p>

<p>Sauf dispositions d'ordre public, tout litige qui pourrait survenir dans le cadre de l'exécution des présentes conditions générales d'utilisation devra avant toute action judiciaire être soumis à l'éditeur du site en vue d'un éventuel règlement amiable ou d’une médiation judiciaire.</p>

<p>Ces conditions générales d'utilisation peuvent faire l'objet de modifications à tout moment et ce sans préavis ni indemnités quelconques. Nous vous recommandons dès lors de les consulter régulièrement. Les conditions générales d'utilisation applicables à l'utilisateur sont celles en vigueur au moment de sa connexion au site.</p>

<p>Les droits et recours contenus dans ce contrat sont cumulatifs à tous les droits et recours prévus par la loi.</p>

<p>Si l'une des clauses des présentes conditions générales d'utilisation venait à être déclarée nulle par une décision de justice, cette nullité ne saurait emporter la nullité de l'ensemble des autres clauses, qui continueraient à produire pleinement leur effet.</p>

<p>Ce site est soumis à l'application du droit belge. En cas de litige seuls les tribunaux francophones de l'arrondissement de Bruxelles seront compétents.</p>

<p>Ce site n'est pas une publication officielle et ne peut en aucun cas être considéré comme un substitut aux publications officielles.</p>

</div>
