
<% @title = "Algemene gebruiksvoorwaarden" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="conditions"><%= @title %> <a href="#conditions">#</a></h1>

<p><%= site_name %> is een technisch platform voor het verzenden van aanvragen naar openbare besturen en een website die de antwoorden van deze openbare besturen bewaart.</p>

<p>De toegang tot de site is gratis, maar het gebruik en/of de raadpleging ervan houdt automatisch en onvoorwaardelijk in dat u alle gebruiks¬voorwaarden (zie hieronder) volledig aanvaardt.</p>

<p>De grootste zorg werd besteed aan het ontwerp van de site en de erin opgenomen databank. We kunnen echter niet garanderen dat de gepubliceerde gegevens en informatie volledig, exact of up-to-date zijn, en wijzen alle verantwoordelijkheid af wat betreft de inhoud van de site evenals alle eventuele fouten, onjuistheden of hiaten die de verstrekte gegevens en informatie beïnvloeden.</p>

<p>Onder voorbehoud van de van toepassing zijnde wettelijke en reglementaire bepalingen kunnen we niet verantwoordelijk gesteld worden voor rechtstreekse of onrechtstreekse schade die voortvloeit uit het gebruik en/of de raadpleging van de site, en meer in het algemeen elke gebeurtenis die in verband staat met de site. </p>

<p>In het bijzonder kunnen we niet verantwoordelijk gesteld worden voor volledige of gedeeltelijke piraterij van de site en voor de gevolgen die deze piraterij met zich zou kunnen meebrengen. We behouden ons het recht voor om de volledige inhoud van de site of een gedeelte ervan te wijzigen en tijdelijk of permanent te onderbreken, en dat zonder voorafgaande kennisgeving.</p>

<p>Boodschappen die de aanvragers hebben verstuurd en de antwoorden van de overheidsinstellingen verschijnen automatisch op de site, en staan dus vrij toegankelijk op het internet. Transparencia leest, bewerkt of controleert de boodschappen niet voor publicatie. Daardoor kan Transparencia niet verantwoordelijk worden gehouden voor de boodschappen van aanvragers en/of antwoorden van overheidsinstellingen.</p>

<p>We zullen desondanks al het nodige doen om elke informatieaanvraag, elk antwoord van een overheidsinstelling of commentaar van een gebruiker te verwijderen als ons dat als ‘niet conform aan de wetgeving’ wordt gemeld. Contacteer ons op  <a href="mailto:<%=@contact_email%>"><%=@contact_email%></a> en geef alle nuttige informatie zodat wij de inhoud die u ons wil signaleren kunnen vinden.</p>

<p>Om een informatieaanvraag bij een overheidsinstelling in te dienen, moet een gebruiker zijn echte identiteit gebruiken. Het gebruik van een pseudoniem of de identiteit van een derde is verboden.</p>

<p><em>Plichten van de bezoeker:</em></p>

<p>
Gebruikers verbinden zich ertoe Transparencia schadeloos te stellen tegen elke klacht van een derde, verantwoordelijkheid, verlies of onkosten (schade of advocaatskosten inbegrepen) die het gevolg zijn van foutief gebruik van de site. Het correcte gebruik van de site wordt beschreven in de Algemene gebruiksvoorwaarden en op de Hulppagina’s van de site.
</p>

<p><em>Intellectuele eigendom:</em></p>

<p>De inhoud van deze site (grafische identiteit, teksten, afbeeldingen, gegevens, logo's en andere essentiële elementen) wordt beschermd door het auteursrecht en/of het databankrecht. Onder voorbehoud van de wettelijke en reglementaire bepalingen is het kopiëren, de verspreiding of commercialisering, op om het even welke informatiedrager, van een essentieel element van de site zonder de voorafgaande schriftelijke toestemming van de websitebeheerder verboden en wordt deze beschouwd als namaak, waarvoor de namaker wettelijk en strafrechtelijk aansprakelijk gesteld kan worden.
</p>

<p><em>Hyperlinks:</em></p>

<p>De aanwezigheid van een link naar een externe site vormt geen erkenning van diens conformiteit met de van kracht zijnde wetgeving en/of de kwaliteit van de diensten en producten geleverd door de onderneming die verantwoordelijk is voor de site. We kunnen niet verantwoordelijk gesteld worden voor de schade die voortvloeit uit de raadpleging van deze site.</p>

<p><em>Moderern van commentaren:</em></p>

<p>Commentaren worden automatisch gepubliceerd maar kunnen achteraf nog worden gemodereerd. De websitebeheerder beslist over het al dan niet schrappen van een commentaar of de aanpassing ervan. Hij is voor die ingrepen geen verantwoording schuldig. Publicatie van de commentaren betekent niet dat de websitebeheerder het met de inhoud ervan eens is. Als u een commentaar publiceert, bent u juridisch verantwoordelijk voor de inhoud ervan. U aanvaardt om de uitgever te vergoeden in geval van klacht en/of vraag tot schadevergoeding (schade, transactiekosten en, binnen de grenzen van het redelijke, gerechtskosten) ten gevolge van een door u gepubliceerde commentaar.</p>

<p>Indien u een ongepast commentaar vindt, kan u ons contacteren via <a href="mailto:<%=@contact_email%>"><%=@contact_email%></a></p>

<p><em>Recht van verbetering:</em></p>

<p>Conform de wetgeving kan iedere persoon, zonder kosten, gegevens die hem of haar aanbelangen laten aanpassen indien ze fout of onvolledig blijken te zijn. Contacteer ons voor de procedure via <a href="mailto:<%=@contact_email%>"><%=@contact_email%></a>.</p>

<p>Verantwoordelijke voor de gegevensverwerking : Christophe Van Gheluwe - Meenenplein 3 bus 6 - 1060 Brussel</p>

<p><em>Diverse bepalingen:</em></p>

<p>De informatie die u ons meedeelt op vrijwillige basis (naam, voornaam, e-mail,...), bijvoorbeeld door gebruik van een contactformulier of op een andere wijze, kunnen gecodeerd worden in databankbestanden. De informatie is uitsluitend bestemd voor de websitebeheerder. Ze wordt niet aan derden overgedragen. De enige uitzondering op dit principe wordt gevormd door vragen van de autoriteiten die daardoor bevoegd zijn.</p>

<p>Behoudens bepalingen van openbare orde moet elk geschil dat zou kunnen optreden in het kader van de uitvoering van deze algemene gebruiksvoorwaarden vóór elke gerechtelijke handeling onderworpen worden aan de websitebeheerder met het oog op een eventuele minnelijke schikking.</p>

<p>Deze algemene gebruiksvoorwaarden kunnen op elk moment onderworpen worden aan wijzigingen en dit zonder voorafgaande kennisgeving of enige schadevergoeding. We raden u daarom aan ze regelmatig te raadplegen. De algemene gebruiksvoorwaarden die voor de gebruiker van toepassing zijn, zijn deze die van kracht zijn op het moment dat hij de website bezoekt.</p>

<p>De rechten en rechtsmiddelen voorzien door deze algemene gebruiksvoorwaarden zijn cumulatief en sluiten andere rechten en rechtsmiddelen voorzien door de wet niet uit.</p>

<p>Indien één van de clausules van deze algemene gebruiksvoorwaarden door een gerechtelijke beslissing nietig verklaard wordt, kan deze nietigverklaring niet leiden tot de ongeldigheid van de andere clausules, die volledig van kracht blijven.</p>

<p>Deze site is onderworpen aan de toepassing van het Belgisch recht. In geval van geschil zijn enkel de rechtbanken van het Brussels arrondissement bevoegd.</p>

<p>Deze site is geen officiële publicatie en mag in geen enkel geval beschouwd worden als een vervanging voor officiële publicaties.</p>

</div>
