<% @title = "FAQ pour les autorités publiques" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers">Questions pour les fonctionnaires responsables du respect de la “transparence de l’administration” <a href="#officers">#</a> </h1>

  <dl>

    <dt id="top">J'étais sur une demande et j'ai atterri ici, pourquoi ? <a href="#top">#</a> </dt>

    <dd><p><%= site_name %> est un service géré par Anticor Belgique. <%= site_name %> permet à ses membres de faire des demandes d'accès à l'information et leur permet de suivre les réponses et de les partager facilement.</p>

      <p>La demande d'accès que vous avez reçue a été faite par un utilisateur de <%= site_name %>. Vous pouvez simplement répondre à la demande via l’email reçu. Toutes les réponses des autorités publiques seront automatiquement publiées sur Internet.
      </p>
      <p>Si vous avez des questions concernant la vie privée ou d'autres préoccupations, veuillez lire les informations de cette section d’aide. Vous pouvez également lire les autres pages d’aide pour en savoir plus sur ce que <%= site_name %> fait. Vous pouvez également faire une recherche sur le site pour trouver le service public pour lequel vous travaillez et visualiser les autres demandes faites à l'aide de <%= site_name %>.</p>

      <p>Enfin, nous serions ravis de recevoir des commentaires de la part des fonctionnaires responsables de la publicité de l’administration, n'hésitez donc pas à <a href="<%= help_contact_path %>">get in touch</a>.
      </p>
    </dd>

    <dt id="responses">Pourquoi publiez-vous les réponses aux demandes d'accès ? <a href="#responses">#</a> </dt>

    <dd>Nous pensons qu'il y a beaucoup d'avantages à cette publication. Cela encourage le public à être plus intéressé et impliqué dans le travail de l’administration et des gouvernements. Nous espérons également que cela permettra de réduire le nombre de demandes multiples qu'un organisme public reçoit concernant un même sujet. Comme les réponses aux demandes d'information contiennent des informations publiques, que quiconque peut demander à une autorité, nous pensons qu'il n'y a aucune raison pour ne pas publier ces informations.
    </dd>

    <dt id="realpeople">Les personnes qui font des demandes sont-elles des personnes réelles ? <a href="#realpeople">#</a> </dt>

    <dd>Oui. Afin de pouvoir suivre les réponses nous utilisons des adresses électroniques générées par ordinateur pour chaque demande. Cependant, avant de pouvoir envoyer une demande, chaque utilisateur doit s'inscrire sur le site avec une adresse email unique que nous avons vérifiée. Vous pouvez trouver sur <%= site_name %> la liste de toutes les demandes faites par chaque utilisateur.
    </dd>

    <dt id="email_only">Une adresse email n'est pas suffisante pour faire une demande d'accès à l'information <a href="#email_only">#</a> </dt>

    <dd>La législation sur la publicité de l’administration exige que les demandes soient introduites par écrit. La jurisprudence reconnaît l’email comme un écrit valide pour demander l’accès aux informations détenues par les autorités publiques.
    </dd>

    <dt id="vexatious">Ne trouvez-vous pas que vous faites beaucoup de demandes vexatoires ? <a href="#vexatious">#</a> </dt>

    <dd><p><%= site_name %> ne fait pas de demandes. Nous envoyons des demandes au nom de nos utilisateurs, qui sont de vraies personnes qui réalisent ces demandes. </p>

      <p>Un exemple : si beaucoup de personnes font des demandes avec des adresses email Hotmail, vous n’allez pas accuser Microsoft de faire des demandes vexatoires. C'est exactement la même chose avec les demandes faites via <%= site_name %>. De plus, étant donné que toutes les demandes sont publiques, vous pouvez facilement voir si l'un de nos utilisateurs fait des demandes vexatoires.</p>

    </dd>

    <dt id="spam_problems">Je peux voir une demande sur <%= site_name %>, mais on n'a jamais reçu d'email <a href="#spam_problems">#</a> </dt>

    <dd><p>Si une demande apparaît sur le site, cela signifie que nous avons tenté de l'envoyer à l'autorité par email. Tous les messages d'échec de livraison apparaîtront automatiquement sur le site. Vous pouvez vérifier l'adresse que nous utilisons en cliquant sur le lien "Voir l'adresse email de demande d'accès à l'information " qui apparaît sur la page de l'autorité publique. <a
        href="<%= help_contact_path %>">Contactez-nous</a> s'il y a une meilleure adresse que nous pouvons utiliser.</p>

      <p>Les demandes n'arrivent parfois pas parce qu'elles sont bloquées par les “filtres anti-spam” du département informatique de l'autorité publique. Les autorités peuvent s’assurer que cela ne se reproduise plus en demandant à leur service informatique de rajouter les emails <strong>@<%= AlaveteliConfiguration::incoming_email_domain %></strong> à la liste des emails autorisés. A votre <a href="<%= help_contact_path %>">demande nous</a> pouvons vous renvoyer les demandes déjà réalisées et/ou vous donner des détails techniques concernant le problème de livraison afin que votre service informatique puisse régler le problème.
      </p>

      <p>Enfin, vous pouvez répondre à toute demande depuis votre navigateur internet, sans avoir besoin d'email, en utilisant simplement le lien "répondre à la demande", en bas de chaque page de demande.
      </p>
    </dd>

    <dt id="days">Comment déterminez-vous la date limite indiquée sur les pages de demande ? <a href="#days">#</a> </dt>

    <dd>

      <p>Veuillez s'il vous plaît lire la réponse à la question précédente d'abord. Légalement, les autorités doivent répondre rapidement aux demandes d'accès à l'information. Si elles ne parviennent pas à le faire dans le délai, il est préférable qu'elles se justifient et qu'elles donnent la raison pour laquelle cela prend plus de temps pour fournir la réponse.</p>

      <p>Cela dit, <%= site_name %> publie le délai légal maximum pour répondre à chaque demande. Si l’autorité demande des informations complémentaires, les demandeurs sont priés de signaler le moment où ils ont clarifié leur demande afin que l’horloge se réinitialise. Si vous constatez un problème avec une demande particulière, prévenez-nous afin que nous puissions effectuer les corrections utiles..</p>

      <p>La date ainsi calculée apparaît sur les demandes comme ceci :  “Actuellement en attente d'une réponse de XXX, ils doivent répondre rapidement et normalement au plus tard le XXX”</p>
    </dd>


    <dt id="large_file">Comment puis-je envoyer un fichier volumineux, si c’est impossible par email ? <a href="#large_file">#</a> </dt>

    <dd>Au lieu de répondre par email, vous pouvez répondre à une demande directement à partir de votre navigateur internet, vous pouvez aussi télécharger un fichier. Pour ce faire, choisissez "répondre à la requête" en bas de la page de la demande sur <%= site_name %>. <a href="<%= help_contact_path %>">Contactez-nous</a> si votre fichier est trop grand (plus de 50 Mo).
    </dd>

    <dt id="names">Pourquoi publiez-vous les noms des fonctionnaires et le texte des emails ? <a href="#names">#</a> </dt>

    <dd>Nous considérons que ce que les agents ou fonctionnaires font dans le cadre de leur emploi est de l'information d'intérêt public. Nous ne supprimerons le contenu que dans certaines circonstances exceptionnelles, à ce sujet voyez la question  <a href="<%= help_privacy_path(:anchor => 'takedown') %>">Pouvez-vous supprimer mes informations personnelles ?</a>.
    </dd>

    <dt id="mobiles">Publiez-vous les adresses email ou les numéros de téléphone mobile ? <a href="#mobiles">#</a> </dt>

    <dd><p>Pour éviter le spam, nous supprimons automatiquement la plupart des emails et des numéros mobiles à partir des réponses aux demandes. Veuillez <a href="<%= help_contact_path %>">nous contacter</a> si un email ou un téléphone nous a échappé. Pour des raisons techniques, nous ne supprimons pas les emails et les téléphones présents dans les pièces jointes, par exemple dans les fichiers PDF.</p>

      <p>Si vous souhaitez connaître une adresse email que nous avons dû supprimer, vous pouvez <a
        href="<%= help_contact_path %>">nous la demander</a>. De temps en temps, une adresse email constitue une partie importante d'une réponse et nous allons alors l'afficher sous une forme masquée dans un commentaire
    </dd>

    <dt id="copyright"><a id="commercial"></a>Quelle est votre politique sur les droits d'auteur des documents ? <a href="#copyright">#</a> </dt>

    <dd><p>a législation sur la publicité de l’administration ne fait pas de différence entre les demandeurs, cela veut dire que quiconque dans le monde peut demander le même document et en obtenir une copie</p>

      Si vous pensez que le fait que nous rendions ce document disponible sur internet viole des droits d'auteur, vous pouvez <a href="<%= help_contact_path %>">nous contacter</a> et nous demander de l'enlever. Cependant, pour économiser l'argent des contribuables et éviter les demandes multiples aux autorités, mais aussi pour maintenir de bonnes relations avec les citoyens, nous vous demandons d’éviter au maximum de le faire.
    </dd>

  </dl>

  <p><strong>Si vous ne l'avez pas déjà fait</strong>, lisez l'<a href="<%= help_about_path %>">introduction</a> --&gt;</p>

    <div id="hash_link_padding"></div>
</div>
