<% @title = "Mécontent de la réponse que vous avez reçue ?" %>


<% if @info_request %>
  <h1>
    Mécontent de la réponse que vous avez reçue pour votre demande
    '<%= request_link(@info_request) %>'?
  </h1>
<% else %>
  <h1><%= @title %></h1>
<% end %>

<p>Si …</p>

<ul>
  <li>Vous n'avez pas reçu de réponse endéans les 30 jours</li>
  <li>Vous n'avez pas obtenu toutes les informations que vous avez demandées</li>
  <li>Votre demande a été refusée, sans raison légale valable</li>
</ul>

<p>… vous pouvez</p>

<ol>
  <li>Envoyer une demande de reconsidération aux autorités publiques</li>
  <li>Envoyer simultanément une demande d’avis à la Commission d’Accès aux Documents Administratifs (CADA) pour les autorités publiques qui sont soumises à la législation sur la publicité de l’administration</li>
  <li>Utiliser d'autres moyens pour obtenir la réponse à votre question</li>
</ol>

<h1 id="internal_review">1. Envoyer une demande de reconsidération <a class="hover_a" href="#internal_review">#</a> </h1>

<p>
  <% if @info_request %>
    <%= link_to "Demander une reconsidération", new_request_followup_path(:request_id => @info_request.id) + "?internal_review=1#followup", :class => 'link_button_green request-internal-review-action' %> pour demander à l'autorité publique de reconsidérer votre demande.
  <% else %>
    En bas de la page de la demande sur <%= site_name %> choisissez "Demander
    une reconsidération". Ensuite, écrivez un message demandant à l’autorité de
    reconsidérer votre demande. N'oubliez pas d'inclure un lien vers la page de
    la demande sur Transparencia afin que nous sachions de quelle demande il
    s'agit.
  <% end %>
</p>

<h1 id="complaining">2. Demander un avis à la Commission d’Accès aux Documents Administratifs (CADA) <a class="hover_a" href="#complaining">#</a> </h1>

<p>
  Pour les autorités publiques qui sont soumises à la législation sur la
  publicité de l’administration vous pouvez demander à la Commission d’Accès
  aux Documents (CADA) de remettre un avis sur votre demande. Attention, la
  demande d’avis à la CADA doit <strong>OBLIGATOIREMENT</strong> être envoyée
  le même jour que la demande de reconsidération envoyée à l’autorité publique.
</p>

<p>
  Transparencia n'est pas encore prévu pour le traitement des demandes d’avis à
  la CADA. Ces demandes doivent être envoyées directement à la CADA par mail ou
  par courrier.
</p>

<p>
  Transmettez à la CADA le lien vers votre demande sur le site Transparencia ou
  imprimez cette demande afin que la CADA puisse avoir accès à l’ensemble de
  vos échanges avec l’autorité publique.
</p>

<p>
  Enfin, tenez-nous au courant de l’évolution de votre demande à la CADA en
  postant des commentaires de suivi en bas de votre demande.
</p>

<p>
  Si votre recours présente un intérêt particulier pour d’autres personnes (et
  que nous en avons le temps), nous nous ferons un plaisir de vous conseiller
  pour améliorer votre demande à la commission (CADA) par mail à
  <%= mail_to 'info@transparencia.be' %>.
</p>

<p>
  Pour plus d’information consulter la section <%= link_to 'Saisir la CADA',
    help_cada_path %>.
</p>

<h1 id="other_means">3. Utiliser d'autres moyens pour obtenir la réponse à votre question <a class="hover_a" href="#other_means">#</a> </h1>

<p>
  Vous pouvez essayer d’obtenir la réponse à votre question en ayant recours à
  d'autres procédés.
</p>

<ul>
  <li>
    Faites une nouvelle demande d'accès à l'information en l’adaptant en
    fonction des motifs de refus de l’autorité publique.
  </li>
  <li>
    Si une autre autorité publique est concernée ou possède les informations
    recherchées, vous pouvez lui envoyer une demande d'information.
  </li>
  <li>
    Écrivez à un député ou à un autre politicien et demandez-lui de l'aide pour
    trouver la réponse à votre question. Les députés peuvent faire des demandes
    aux autorités publiques et ils peuvent faire des interpellations au
    parlement. Les conseillers communaux peuvent faire des interpellations au
    collège communal et obtenir un document dans les 10 jours.
  </li>
  <% if can_ask_the_eu?(@country_code) %>
    <li>
      Selon la nature de votre demande vous pouvez peut-être faire une demande
      via l'Union européenne. <%= link_to 'AskTheEU',
      'https://www.asktheeu.org/' %> est une version identique à
      Transparencia pour les demandes d’accès à l’information de l'Union
      européenne.
    </li>
  <% end %>
  <li>
    Demandez de l’aide à d'autres personnes qui sont intéressés par une
    question semblable à la vôtre. Vous pouvez parfois les trouver en naviguant
    dans les précédents demandes faites via Transparencia. Vous pouvez
    communiquer avec un utilisateur enregistré à partir de sa page.
  </li>
  <li>
    Vous pourriez aussi par exemple former un petit groupe de travail et
    organiser une réunion avec l'autorité concernée.
  </li>
</ul>
